body 
{
    /* background-color: #feffbe; */
    background-color: #ffffee;
}

.ambient {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 40%;
    border-collapse: collapse;
}

.ambient td,
.ambient th {
    font-size: 1em;
    border: 1px solid black;
    padding: 3px 7px 2px 7px;
}

.ambient th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

.ambient tr:nth-child(odd) td {
    color: #000000;
    background-color: #EAF2D3;
}

.ambient form {
    white-space: nowrap;
}