<html>
  <head>
    <meta http-equiv="refresh" content="30">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<h1>Phytonaut</h1>
  <table class="ambient">
    <caption>Ambient Values</caption>
    <tr>
      <th>Variable</th>
      <th>default</th>
      <th>desired</th>
      <th>actual</th>
    </tr>
    <tr>
      <td>light on</td>
      <td>{{ defaultlight_on }}</td>
      <td>
	<form class="ambient" action="/desired_light_on" method="post">
	  <input type="submit" name="light_on" value="inc">
	  <input type="submit" name="light_on" value="dec">
	  {{ desired_light_on }}
	</form>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>light off</td>
      <td>{{ defaultlight_off }}</td>
      <td>
	<form class="ambient" action="/desired_light_off" method="post">
	  <input type="submit" name="light_off" value="inc">
	  <input type="submit" name="light_off" value="dec">
	  {{ desired_light_off }}
	</form>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>temperature</td>
      <td>{{ defaulttemperature }}&#176;C</td>
      <td>
	<form class="ambient" action="/desired_temperature" method="post">
	  <input type="submit" name="temperature" value="inc">
	  <input type="submit" name="temperature" value="dec">
	  {{ desired_temperature }}&#176;C
	</form>
      </td>
      <td>{{ actual_temperature }}&#176;C</td>
    </tr>
    <tr class="alt">
      <td>humidity</td>
      <td>{{ defaulthumidity }}%</td>
      <td>
	<form class="ambient" action="/desired_humidity" method="post">
	  <input type="submit" name="humidity" value="inc">
	  <input type="submit" name="humidity" value="dec">
	  {{ desired_humidity }}%
	</form>
      </td>
      <td>{{ actual_humidity }}%</td>
    </tr>
  </table>

  <table class="ambient">
    <caption class="relays">Relays</caption>
    <tr>
      <th>Relay #</th>
      <th>Alias</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>1</td>
      <td>light</td>
      <td>{{ relay[1] }}</td>
    </tr>
    <tr>
      <td>2</td>
      <td>temp</td>
      <td>{{ relay[2] }}</td>
    </tr>
    <tr>
      <td>3</td>
      <td>humidity</td>
      <td>{{ relay[3] }}</td>
    </tr>
  </table>

  <img src={{ file }}>

  <pre>
    {{ ifconfig_data }}
  </pre>
</html>
