<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must
 come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
<!-- SmartAddon.com Verification --> 
<meta name="smartaddon-verification" content="dbd3ccc6bb3d99345bc4854a3eeb014f" />
    <link rel="icon" href="/static/favicon.ico">

    <title>Plant Bio Group Development website</title>

 <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/static/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></scrip
t><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --
>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/static/carousel.css" rel="stylesheet">
    <script>
    $(function(){
      $("#includedContent").load("/static/navbar.html");
    });
    </script>
</head>
<!-- NAVBAR
================================================== -->
  <body>
     <div id="includedContent" class="navbar-wrapper"></div>
 </br></br></br>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" background-color="white">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/static/imgs/mung1.png" alt="First slide">
           <!--data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==-->
          <div class="container">
            <div class="carousel-caption" background-color="white">
              <h1>Hello Humans, Greetings from DIY Biologists.</h1>
		<img src="/static/imgs/logo2.png" width="300" height="120">
		<p> Late May of 2015, A bunch of Phytonauts at Sunnyvale safe house planted a flag of expedition to explore the world of Biology and engineer its benefits for all humanity. </p>
              <p><a class="btn btn-lg btn-primary" href="https://groups.google.com/forum/#!forum/biocuriousplantbio" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/static/imgs/salicornia.png" alt="second slide"><!--"data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide"i-->
          <div class="container">
            <div class="carousel-caption">
              <h1>In Biology we trust</h1>
              <p> We believe that natural organisms can clean our waterways, feed our hungry, power our enterprises, help cure human diseases and clothe us in exceptional finery. A Revolution in Biology is just starting...</p>
              <p><!--a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a--></p>
            </div>
          </div>
        </div>
        <div class="item">
  <img class="third-slide" src="/static/imgs/gelvisual2.png" alt="third slide"><!--"data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide"-->
          <div class="container">
            <div class="carousel-caption">
              <h1> Preparing for the ensuing revolution behind the scenes</h1>
              <p>We are setting up classes, projects, reagents, protocols, application, greenhouses, sensors, website/wiki, whether you are an experienced or aspiring Phytonaut...Join Tuesday evenings at Biocurious @ 7:00pm.</p>
              <p><!--a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a--></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/static/imgs/growbox.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Projects</h2>
          <p>The backbone of any scientist’s career is a project. It is where hard-fought knowledge is applied and new knowledge discovered.  Click here for some of the current projects</p>
          <p><a class="btn btn-default" href="/static/projects.html" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/imgs/bntalk1.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Classes and Seminars</h2>
          <p>On-going learning is a key to becoming and remaining a scientist.  To facilitate this, we have classes and seminars for the budding scientists to the seasoned veteran.  Click here to see the type of classes and seminars we host and sponsor.</p>
          <p><a class="btn btn-default" href="/static/events.html" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/imgs/infusion.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Reagents and Protocols</h2>
          <p>Tools can go a long way for any craftsman. It is no different for a scientists.  Click here for example protocols and where to get reagents.</p>
          <p><a class="btn btn-default" href="/static/Wiki.html" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
<!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Gene Gun. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">600psi of Pressure, electric hair trigger, soft plant tissue and genes of your desire. This is the stuff dreams of phytonauts are made of. We are characterizing a DIY gene gun, with transformation efficiency as good as commercial machines costing orders of magnitude more.</p>
        </div>
        <div class="col-md-5">
<video src="/static/imgs/GeneGunClip.m4v" width="480" height="360" controls=""></video>
          <!--img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"-->
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Real Veggie BioDome. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead"> With drastic abiotic stresses hitting plant growth in wake of global warming and climate change, we are building a chamber which will effectively allow us to mimic the conditions that may be present in harsh environments and then augment the plants and methods of growing them to counteract the effects of deteriorating environment.</p>
        </div>
        <div class="col-md-5 col-md-pull-7"></br></br></br></br></br>
          <img class="featurette-image img-responsive center-block" src="/static/imgs/ledbox.jpg" height=400 width=400 alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">CRISPR/Cas9 <span class="text-muted">Programmable gene editing, Checkmate.</span></h2>
          <p class="lead">Targeted genome editing using engineered nucleases has rapidly gone from being a niche technology to a mainstream method. Genome editing mediated by these nucleases has been used to rapidly, easily and efficiently modify endogenous genes in a wide variety of biomedically important cell types and in organisms that have traditionally been challenging to manipulate genetically. Our Phytonauts are setting up a kit and protocols to use this effectively in DIY environments across BSL-1 certified organisms</p>
        </div>
        <div class="col-md-5" >
          <img class="featurette-image img-responsive center-block"  height=400 width= 400 src="/static/imgs/crispr.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->




      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


  </body>
</html>
