<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

  <table class="ambient">
    <caption>Ambient Values</caption>
    <tr>
      <th>Variable</th>
      <th>default</th>
      <th>desired</th>
      <th>actual</th>
    </tr>
    <tr>
      <td>temperature</td>
      <td>{{ defaulttemperature }}</td>
      <td>{{ desired_temperature }}</td>
      <td>{{ actual_temperature }}</td>
    </tr>
    <tr class="alt">
      <td>humidity</td>
      <td>{{ defaulthumidity }}</td>
      <td>{{ desired_humidity }}</td>
      <td>{{ actual_humidity }}</td>
    </tr>
    <tr>
      <td>CO2ppm</td>
      <td>{{ 33 }}</td>
      <td>{{ 44 }}</td>
      <td>{{ 55 }}</td>
    </tr>
  </table>

  <table class="ambient">
    <caption class="relays">Relays</caption>
    <tr>
      <th>Relay #</th>
      <th>value</th>
    </tr>
    {% for r in relay %}
    <tr><td>{{ loop.index }}</td><td>{{ r }}</td></tr>
    {% endfor %}
  </table>

  <img src={{ file }}>

  <pre>
    {{ ifconfig_data }}
  </pre>
</html>
